<div class="page-wrapper">
  <div class="section-hero">
    <div class="text-hero-wrapper">
      <div class="h1-style">
        <div class="h1-style"><span class="h1-0">Ride Where You Are</span></div>
      </div>
      <div class="text-center">
        Traveling on a bike is the greatest way to get around, and Lichen Bike Tours is here to bring people together on
        bicycles and to bring people closer to nature. We love the feeling of waking up in a shelter, dry, in a forest,
        and knowing the entire day will be dedicated to outdoors adventuring. Based in Hudson, NY, we offer guided
        bikepacking trips through the Catskill Mountains that are as short as an overnighter and as long as 5 days.
        Camping not your thing? Expect inn-to-inn trips in 2026, and maybe we saw you on June 28th 2025 at our
        first-ever Beebe & Beyond Gravel Ramble in Hillsdale, NY.
      </div>
    </div>
    <img
      src="https://cdn.shopify.com/s/files/1/0645/6069/3405/files/PXL_20250720_184656203.webp?v=1753453577"
      loading="lazy"
      width="1240"
      height="633.543701171875"
      alt=""
      sizes="(max-width: 479px) 93vw, (max-width: 767px) 90vw, (max-width: 991px) 84vw, (max-width: 1675px) 74vw, 1240px"
      class="home-support-hero"
    >
  </div>
  <div class="section-style">
    <div class="stacking-wrapper">
      <img
        src="https://cdn.shopify.com/s/files/1/0645/6069/3405/files/PXL_20250628_151649071.webp?v=1753453578"
        loading="lazy"
        width="660"
        height="637.4534301757812"
        alt=""
        sizes="(max-width: 479px) 93vw, (max-width: 750px) 88vw, (max-width: 767px) 660px, (max-width: 991px) 79vw, 660px"
        class="p1010284_plum-pittstown-gravel_092823-1"
      >
      <div class="text-left-wrapper">
        <div class="h2-style">
          <div class="h2-style"><span class="h2-0">Cycling and Camping in the Catskill Mountains</span></div>
        </div>
        <div class="text-left">
          In 2025 all our trips are bikepacking trips, which for LBT means that riders are camping at lean-tos and other
          designated campsites in the forest preserves, and cycling all day on roads and 4x4 trails using the frame of
          the bike to carry camping equipment. All Lichen Bike Tours trips are led by a NYS DEC licensed and Wilderness
          First Aid certified guide. Trips are either 4 or 5 days, the camping is Leave No Trace, and food planning is
          easy with daily resupply stops in town. Groups limited to 6 riders, plus the guide.
        </div>
      </div>
    </div>
  </div>
  <div class="section-style">
    <div class="stacking-wrapper right-to-left">
      <div class="text-left-wrapper">
        <div class="h2-style"><span class="h2-0">Small Groups, Big Adventures, Trusted Guide</span></div>
        <div class="text-left">
          You’ll follow safe, scenic routes that avoid heavy traffic, while your guide monitors the weather and adjusts
          plans as needed for safety and comfort. With food, water, and shelter in the route notes at every stage, you
          can focus on enjoying the ride. You’ll be with cyclists of a similar fitness level, ensuring a comfortable
          pace while building connections along the way. The adventure starts with the planning phase, and everyone who
          registers receives detailed info like .gpx files, campsite profiles, resupply points, etc.
        </div>
      </div>
      <img
        src="https://cdn.shopify.com/s/files/1/0645/6069/3405/files/PXL_20250619_141936191.webp?v=1753453577"
        loading="lazy"
        width="660"
        height="842.6463012695312"
        alt=""
        sizes="(max-width: 479px) 93vw, (max-width: 750px) 88vw, (max-width: 767px) 660px, (max-width: 991px) 79vw, 660px"
        class="p1010284_plum-pittstown-gravel_092823-1"
      >
    </div>
  </div>
</div>

{% schema %}
{
  "name": "LBT Home Page",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [],
  "presets": [
    {
      "name": "LBT Home Page",
      "category": "section"
    }
  ]
}
{% endschema %}
