<div class="page-wrapper">
  <div class="section-hero">
    <div class="text-hero-wrapper">
      <div class="h1-style">
        <div class="h1-style"><span class="h1-0">A celebration of outdoor enthusiasm by bike</span></div>
      </div>
      <div class="text-center">
        Born from the love of nature and that “getting out there” is as simple as pedaling a bike, Lichen Bike Tours
        aims to make multi-day bikepacking adventures open and available to all.
      </div>
    </div>
    <img
      src="images/P1010284_Plum-Pittstown-Gravel_092823-1.png"
      loading="lazy"
      width="1240"
      height="633.543701171875"
      alt=""
      srcset="images/P1010284_Plum-Pittstown-Gravel_092823-1-p-500.png 500w, images/P1010284_Plum-Pittstown-Gravel_092823-1-p-800.png 800w, images/P1010284_Plum-Pittstown-Gravel_092823-1-p-1080.png 1080w, images/P1010284_Plum-Pittstown-Gravel_092823-1.png 1240w"
      sizes="(max-width: 479px) 93vw, (max-width: 767px) 90vw, (max-width: 991px) 84vw, (max-width: 1675px) 74vw, 1240px"
      class="home-support-hero"
    >
  </div>
  <div class="section-style">
    <div class="stacking-wrapper">
      <img
        src="images/P1070523_Harlen-Valley-Rail-Trail_092420-1.png"
        loading="lazy"
        width="660"
        height="637.4534301757812"
        alt=""
        srcset="images/P1070523_Harlen-Valley-Rail-Trail_092420-1-p-500.png 500w, images/P1070523_Harlen-Valley-Rail-Trail_092420-1.png 660w"
        sizes="(max-width: 479px) 93vw, (max-width: 750px) 88vw, (max-width: 767px) 660px, (max-width: 991px) 79vw, 660px"
        class="p1010284_plum-pittstown-gravel_092823-1"
      >
      <div class="text-left-wrapper">
        <div class="h2-style">
          <div class="h2-style"><span class="h2-0">Outfitting bikepacking adventures in the Hudson Valley</span></div>
        </div>
        <div class="text-left">
          From beautiful gravel trails in the Catskill and Taconic Mountains to the back dirt roads of historical
          hamlets, we offer a range of non-competitive events for bike enthusiasts of any skill level. In 2025 we have 3
          all-day randonnees on the calendar and a range of 3-6 day bikepacking trips. We even have a beginners-focused,
          hands-on class at Columbia-Greene Community College to get you started.
        </div>
      </div>
    </div>
  </div>
  <div class="section-style">
    <div class="stacking-wrapper right-to-left">
      <div class="text-left-wrapper">
        <div class="h2-style-2">Bikepacking is more than just a ride — it’s an adventure.</div>
        <div class="text-left">
          Traveling with a group and an experienced guide makes the journey all the better. You’ll ride with like-minded
          cyclists at a similar fitness level, ensuring a comfortable pace while building connections along the way.
          Ride stress-free, explore with ease, and make unforgettable memories. You’ll follow safe, scenic routes that
          avoid heavy traffic, while your guide monitors the weather and adjusts plans as needed for safety and comfort.
          With food, water, and shelter planned at every stage, you can focus on the ride without worrying about
          logistics. If you’re introducing a friend, partner, or child to bikepacking, a guided group ride is the
          perfect way to build their confidence in a supportive environment.
        </div>
      </div>
      <img
        src="images/02_P1097193_Ashokan-Loop-Tauscher_102022-2.png"
        loading="lazy"
        width="660"
        height="842.6463012695312"
        alt=""
        srcset="images/02_P1097193_Ashokan-Loop-Tauscher_102022-2-p-500.png 500w, images/02_P1097193_Ashokan-Loop-Tauscher_102022-2.png 660w"
        sizes="(max-width: 479px) 93vw, (max-width: 750px) 88vw, (max-width: 767px) 660px, (max-width: 991px) 79vw, 660px"
        class="p1010284_plum-pittstown-gravel_092823-1"
      >
    </div>
  </div>
</div>

{% schema %}
{
  "name": "LBT Home Page",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [],
  "presets": [
    {
      "name": "LBT Home Page",
      "category": "section"
    }
  ]
}
{% endschema %}
